
<%- include('header'); -%>



<h2> About </h2>

<p> Holaa! This is Kuna Bharadwaj Swamy This To-do-List is my prep project made to practise Express JS and Embeded JS Layout and templates Hope this can some others to help to understand new JavaScript Technologies</p>

<%- include('footer'); -%>